<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Image7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Image7</string>
				</array>
			</dict>
			<key>Image1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Image1</string>
				</array>
			</dict>
			<key>Image2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Image2</string>
				</array>
			</dict>
			<key>Image3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Image3</string>
				</array>
			</dict>
			<key>Image4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Image4</string>
				</array>
			</dict>
			<key>Image5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Image5</string>
				</array>
			</dict>
			<key>Image6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Image6</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>知食</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppKey</key>
	<string>f5677e296fe2713baa4a806271656464</string>
	<key>MOBAppSecret</key>
	<string>21e3e23825aef</string>
	<key>NSContactsUsageDescription</key>
	<string>开启通讯录好友</string>
	<key>UIAppFonts</key>
	<array>
		<string>58.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
